<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create event</title>
</head>
<body>
<form action="#" th:action = "@{/event-create}" th:object = "${event}" method="post">
    <label for="event">Event</label>
    <input type="text" th:field="*{name}" id="event" placeholder="Event">
    <label for="type">Type</label>
    <input type="number" th:field="*{type}" id="type" placeholder="Type">
    <label for="date">Date</label>
    <input type="date" th:field="*{date}" id="date" placeholder="Date">
    <input type="submit" value="Create event">
</form>
</body>
</html>