<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>
<div th:switch="${events}">
    <h2 th:case="null">No events!</h2>
    <p><a href="/event-create">Create event</a></p>
    <div th:case="*">
        <h2>Events list</h2>
        <form action="#" th:action="@{/events}" th:object="${event}" method="get">
            <input type="text" name="filter" th:value="${filter}">
            <input type="submit" value="Filter for type">
        </form>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Event</th>
                <th scope="col">Type</th>
                <th scope="col">Data</th>
                <th scope="col">Edit</th>
                <th scope="col">Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event : ${events}">
                <td th:text="${event.id}"></td>
                <td th:text="${event.name}"></td>
                <td th:text="${event.type.title}"></td>
                <td th:text="${#dates.format(event.date, 'dd-MM-yyyy')}"></td>
                <td><a th:href="@{event-update/{id}(id=${event.id})}">Edit</a></td>
                <td><a th:href="@{event-delete/{id}(id=${event.id})}">Remove</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>